/* rotation */
.rotate {
    animation: rotation 8s infinite linear;
}
  
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

body {
    text-align:center;
    min-height: 100vh;
    margin:0px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', "Times New Roman", sans-serif;
}

.logo {
    font-size:24px;
    width:100px;
    height:100px;
}

/* navigation Part */
.first {
    flex-shrink: 0;
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
    font-style: 48px extra-bold #F9FAF8;
}


.navbar {
    margin:0px;
    display:flex;
    justify-content: space-between;
}

.header-link {
    font-size:18px;
    color:#E5E7EB;
    display:flex;
    margin:5px 5px;
    justify-content: space-between;
}

.litems {
    padding:10px;
    list-style-type: none;
}

.litems a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.content {
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 40px;
}

.herotext {
    font-size: 48px;
    font-weight: 800px;
    color:#F9FAF8;
    padding:10px;
}

.hero_secondary_text {
    font: 24px;
    color:#F9FAF8;
    padding:10px;
}

.homeimage {
    flex: 0 1 auto;
    height: 200px;
    max-width:400px;
}

button {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
}

.signup1 ,
.signup2 {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

.first-container {
    display:flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.first-container a {
    color:#E5E7EB;
    /* font-weight: ; */
    font-size: 18px;
    margin-bottom: 10px;
}

/* Second Part */


