/* rotation */
.rotate {
    animation: rotation 8s infinite linear;
}
  
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

body {
    text-align:center;
    padding:0px;
    margin:0px;
    display:flex;
    flex-direction: column;
    font-family: 'Roboto', "Times New Roman", sans-serif;
}

.logo {
    font-size:24px;
    width:100px;
    height:100px;
}

/* navigation Part */
.first {
    flex-shrink: 0;
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
    font-style: 48px extra-bold #F9FAF8;
}

.navbar {
    margin:0px;
    display:flex;
    justify-content: space-between;
}

.header-link {
    font-size:18px;
    color:#E5E7EB;
    display:flex;
    margin:5px 5px;
    justify-content: space-between;
}

.litems {
    padding:10px;
    list-style-type: none;
}

.litems a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.content {
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 30px;
}

.content .hero {
    padding: 0px;
    margin: 30px 0px;
}

.hero-text {
    font-size: 48px;
    font-weight: 800px;
    color:#F9FAF8;
    padding:10px;
}

.secondary-text {
    font: 24px;
    color:#F9FAF8;
    padding:10px;
}

div .container1 {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.homeimage {
    flex: 1 1 auto;
    /* height: 300px; */
    height: 200px;
    width: 300px;
    object-fit: cover;
    padding: 0px;
    /* margin: 0px 0px 5px 0px; */
}

.container1 a {
    color:#F9FAF8;
    text-decoration: none;
    padding: 0px;
    margin: 0px 0px 5px 0px;
}

button {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
}

.signup1,
.signup2 {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

/* Second Part */

.container2 {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap:15px;
}

.parts {
    flex: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin:0px;
}

.parts img {
    flex: 1 1 auto;
    padding:0px;
    margin:0px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    /* margin: 5px 20px 0px 20px; */
    /* max-width: 250px; */
}

